<ng2-slim-loading-bar color="red"></ng2-slim-loading-bar>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-flat-button color="primary" [routerLink]="'exercises'"> Exercises </a>
      <a mat-flat-button color="primary" [routerLink]="'exercise/create'"> New Exercise </a>
      <a mat-flat-button color="primary" [routerLink]="'set/create'"> New Set </a>
      <a mat-flat-button color="primary" [routerLink]="'editor'"> Editor </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
