<mat-card class="exercise-card">
  <div class="exercise-container" [formGroup]="angForm">

    <mat-form-field>
      <div class="form-group">
        <input matInput placeholder="Title" required
          class="form-control"
          formControlName="ExerciseName"
          #ExerciseName
          [(ngModel)]="exercise.ExerciseName">
      </div>
    </mat-form-field>

    <div *ngIf="angForm.controls['ExerciseName'].invalid && (angForm.controls['ExerciseName'].dirty || angForm.controls['ExerciseName'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['ExerciseName'].errors.required">
          Exercise Name is required.
      </div>
    </div>

    <h5>Exercise</h5>
      <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
        <div class="form-group has-feedback" [ngClass]="{ 'has-error': exerciseEditor.invalid && exerciseEditor.touched }">
          <ckeditor [(ngModel)]="exercise.ExerciseDescription"
                      #exerciseEditor="ngModel"
                      name="exerciseEditor"
                      [config]="ckeConfigExercise"
                      debounce="500"
                      (paste)="onPaste($event)"
                      (change)="onChange($event)">
          </ckeditor>
          <div *ngIf="exerciseEditor.invalid && exerciseEditor.touched" class="help-block">Required field.</div>
        </div>
        <div [innerHTML]="ExerciseContent"></div>
      </form>

    <h5>Solution</h5>
      <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
          <div class="form-group has-feedback" [ngClass]="{ 'has-error': solutionEditor.invalid && solutionEditor.touched }">
            <ckeditor [(ngModel)]="exercise.ExerciseSolution"
                      #solutionEditor="ngModel"
                      name="solutionEditor"
                      [config]="ckeConfig"
                      debounce="500"
                      (paste)="onPaste($event)"
                      (change)="onChange($event)">
            </ckeditor>
            <div *ngIf="solutionEditor.invalid && solutionEditor.touched" class="help-block">Required field.</div>
          </div>
          <div [innerHTML]="solutionContent"></div>
        </form>

  </div>
  <button [disabled]="myForm.invalid" class="btn btn-primary" (click)="updateExercise(ExerciseName.value, exerciseEditor.value, solutionEditor.value)">Save</button>
</mat-card>

