
table {
  width: 100%;
  /* overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px; */
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover {
  background-color:rgb(236, 27, 236);
}

th.mat-sort-header-sorted {
  color: black;
}
