<mat-card class="exercise-card">
  <div class="exercise-container" [formGroup]="angForm">

    <mat-form-field>
      <div class="form-group">
        <input matInput placeholder="Name" required
          class="form-control"
          formControlName="ExerciseName"
          #ExerciseName>
      </div>
    </mat-form-field>

    <mat-form-field>
      <div class="form-group">
        <textarea matInput placeholder="Exercise" required
          class="form-control"
          formControlName="ExerciseDescription"
          #ExerciseDescription></textarea>
      </div>
    </mat-form-field>

    <mat-form-field>
      <div class="form-group">
        <textarea matInput placeholder="Solution" required
          class="form-control"
          formControlName="ExerciseSolution"
          #ExerciseSolution></textarea>
      </div>
    </mat-form-field>

<!--    <mat-form-field>
      <mat-label>Solution Format</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="text">Text</mat-option>
        <mat-option value="singleChoice">Single Choice</mat-option>
        <mat-option value="multipleChoice">Multiple Choice</mat-option>
      </mat-select>
    </mat-form-field>

    <p>You selected: {{selected}}</p>-->


    <div *ngIf="angForm.controls['ExerciseName'].invalid && (angForm.controls['ExerciseName'].dirty || angForm.controls['ExerciseName'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['ExerciseName'].errors.required">
          Exercise Name is required.
      </div>
    </div>
    <div *ngIf="angForm.controls['ExerciseDescription'].invalid && (angForm.controls['ExerciseDescription'].dirty || angForm.controls['ExerciseDescription'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['ExerciseDescription'].errors.required">
          Exercise Description is required.
      </div>
    </div>
    <div *ngIf="angForm.controls['ExerciseSolution'].invalid && (angForm.controls['ExerciseSolution'].dirty || angForm.controls['ExerciseSolution'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['ExerciseSolution'].errors.required">
          Exercise Description is required.
      </div>
    </div>

    <div class="form-group">
      <button (click) = "addExercise(ExerciseName.value, ExerciseDescription.value, ExerciseSolution.value); ExerciseName.value=''; ExerciseDescription.value=''; ExerciseSolution.value=''" type="submit" class="btn btn-primary"
            [disabled]="angForm.pristine || angForm.invalid" >
            Create Exercise
      </button>
    </div>

  </div>
</mat-card>
