<mat-card class="exercise-card">
  <div class="exercise-container" [formGroup]="angForm">

    <mat-form-field>
      <div class="form-group">
        <input matInput placeholder="Exercise Name" required
          class="form-control"
          formControlName="ExerciseName"
          #ExerciseName>
      </div>
    </mat-form-field>

    <div *ngIf="angForm.controls['ExerciseName'].invalid && (angForm.controls['ExerciseName'].dirty || angForm.controls['ExerciseName'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['ExerciseName'].errors.required">
          Exercise Name is required.
      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Exercise</mat-panel-title>
          <mat-panel-description>Create a new exercise</mat-panel-description>
        </mat-expansion-panel-header>
          <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
          <div class="form-group has-feedback"
                [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
            <ckeditor [(ngModel)]="mycontent"
                      #myckeditor="ngModel"
                      name="myckeditor"
                      required
                      [config]="ckeConfig"
                      debounce="500"
                      (paste)="onPaste($event)"
                      (change)="onChange($event)">
            </ckeditor>
            <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
          </div>
          <div [innerHTML]="mycontent"></div>
          </form>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Solution</mat-panel-title>
          <mat-panel-description>Create the solution</mat-panel-description>
        </mat-expansion-panel-header>
        <section class="example-section">
          <span class="example-list-section">
            <ul>
              <li>
                <mat-checkbox class="example-margin">Answer 1</mat-checkbox>
                <mat-checkbox class="example-margin">Answer 2</mat-checkbox>
                <mat-checkbox class="example-margin">Answer 3</mat-checkbox>
                <mat-checkbox class="example-margin">Answer 4</mat-checkbox>
              </li>
            </ul>
          </span>
        </section>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
  <button [disabled]="myForm.invalid" class="btn btn-primary" (click)="saveFile()">Save</button>
</mat-card>

